<div class="container pt-5" id="home">
<img id="image" src="./assets/contactUs.png" height="330px" class="rounded float-start" alt="profile photo">
<div>
  <span>Galleriah</span>
  Languages used: HTML AND CSS<br>
  Description: This repository contains pictures which the user can<br> buy and use them when creating their websites"
</div>

<div>
  <span>Galleriah</span>
  Languages used: HTML AND CSS<br>
  Description: This repository contains pictures which the user can<br> buy and use them when creating their websites"
</div>

<div>
  <span>Galleriah</span>
  Languages used: HTML AND CSS<br>
  Description: This repository contains pictures which the user can<br> buy and use them when creating their websites"
</div>
</div>
